.confirm-address
    .confirm-address-title
        font-size: 14px
        font-weight: 700
        border-bottom: 2px solid #f1f1f1
        margin-bottom: 20px
    .address-radio
        .adddress-operation
            float: right
            display: flex
            flex-direction: row
            .address-status
                margin-right: 10px
            .address-edit
                margin-right: 10px