.collect
    margin: 0 5%
    .collect-treasure-content
        display: inline-flex
        .collect-card 
            margin-right: 15px
            img
                height: 240px
        .ant-card-body
            height: 80px
    .collect-header
        display: flex
    .ant-layout-header
        height: 100%
    .global-search-wrapper 
        text-align: right
    .global-search 
        width: 100%
    .global-search.ant-select-auto-complete .ant-select-selection--single 
        margin-right: -46px
    .global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input:not(:last-child)
        padding-right: 62px
    .global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix
        right: 0
    .global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix button 
        border-top-left-radius: 0
        border-bottom-left-radius: 0
    .global-search-item-count 
        position: absolute
        right: 16px