.collect-shop-item    
    display: flex
    min-height: 180px
    margin-top: 10px
    border: 1px solid #aaa
    .collect-shop
        // display: flex
        flex: 1
        padding: 10px
        text-align: center
        cursor: pointer
    .right-product
        flex: 5
        display: flex
        height: 148px
        .right-treasure
            padding: 10px
            .ant-card
                cursor: pointer
        img
            height: 148px
            width: 148px