.detail
    padding: 10px 13%
    display: flex
    flex-direction: column
    .summary-info
        display: flex
        background: #fff
        margin-top: -12px;
        padding-top: 20px
        .card-info
            flex: 2
            .ant-card-bordered
                border: none
            .ant-card-cover
                img
                    width: 400px
                    height: 400px
            .detail-info-img
                display: flex
                img
                    width: 24px
                    height: 24px
                    flex: 1
        .text-info
            flex: 3
            display: flex
            flex-direction: column
            height: 440px
            margin-left: 20px
            .text-title
                font-size: 24px
                margin: 10px 0px
            .text-price
                background-color: #ffdac0
                width: 400px
            .text-detail
                display: flex
                padding: 10px
                .left-btn
                    .ant-btn
                        font-size: 16px
                        background-color: #FFE4D0
                        color: #E5511D
                        border-color: #F0CAB6
                        padding: 0px 40px
                        min-height: 40px
                .right-btn
                    margin-left: 20px
                    .ant-btn
                        font-size: 16px
                        background-color: #F22D00
                        color: white    
                        border-color: #F22D00
                        padding: 0px 40px
                        min-height: 40px
                .left-btn-disabled
                    .ant-btn
                        font-size: 16px
                        background-color: #f9f9f9
                        color: #818181
                        border: 1px solid #818181
                        padding: 0px 40px
                        min-height: 40px
                .right-btn-disabled
                    margin-left: 20px
                    .ant-btn
                        font-size: 16px
                        background-color: #818181
                        color: #fff    
                        border: 1px solid #818181
                        padding: 0px 40px
                        min-height: 40px
                .left-text
                    flex: 1
                .right-text
                    flex: 4
                    .ant-input
                        width: 50px
                        text-align: center
                    .ant-btn
                        background-color: lightgrey
                .pro-text
                    flex: 4
            .range-tip
                padding: 3px 10px 3px 5px;
                border: 1px solid #efefef;
                border-left: 1px solid #e7e7e7;
                margin: -1px
                width: 215px
                color: #666
    .detailed-info
        margin: 2% 0%
        display: flex
        flex-direction: row
        .shop-info
            // flex: 1
            border: 1px solid black
            max-height: 200px
            min-width: 200px
            margin-top: 50px
            margin-right: 20px
            box-shadow: 2px 2px 5px #b7b3b3, -1px 1px 20px #8f9494
            .shop-name
                margin: 20px 30px
                font-size: 20px
                font-weight: 800
            .shop-btn
                margin: 20px 30px
        .ant-tabs
            width: 100%
        .ant-tabs-bar
            margin-bottom: 0px
        .detailed-content
            text-align: center
            padding-top: 20px
            .product-content
                border: 1px solid #aaa
                .line
                    display: flex
                    padding: 10px
                    .left-line
                        flex: 1
                        display: flex
                    .right-line
                        flex: 1
                        display: flex
                // .left-text
                //     padding: 10px
            .product-img
                height: 600px
                width: 600px
                margin-top: 10px
                img 
                    width: 100%
                    height: 100%
        .remark
            display: flex
            padding-left: 20px
            padding-top: 20px
            .remark-info
                margin-left: 50px
                display: flex
                flex-direction: column