.home-page
    margin: 0 5%
    .home-page-content
        width: 70%
        padding: 10px
        height: 100%
        .ant-carousel 
            height: 100%
            .slick-slide 
                text-align: center
                height: 260px
                line-height: 160px
                background: #364d79
                overflow: hidden
        .ant-carousel .slick-slide h3 
            color: #fff
    .global-search-wrapper 
        text-align: center
    .global-search 
        width: 100%
    .global-search.ant-select-auto-complete .ant-select-selection--single 
        margin-right: -46px
    .global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input:not(:last-child)
        padding-right: 62px
    .global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix
        right: 0
    .global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix button 
        border-top-left-radius: 0
        border-bottom-left-radius: 0
    .global-search-item-count 
        position: absolute
        right: 16px
