.home-page
    margin: 0 5%
    .home-page-content
        width: 70%
        padding: 10px
        height: 100%
        .ant-carousel 
            height: 100%
            .slick-slide 
                text-align: center
                height: 260px
                line-height: 160px
                background: #364d79
                overflow: hidden
        .ant-carousel .slick-slide h3 
            color: #fff
    .global-search-wrapper 
        text-align: center
    
