.treenode-row{
    min-height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-family: "Open Sans", Helvetica, sans-serif;
    &.treenode-row-acitve{
        &.treenode-row-checked,&:hover{
            .treenode-content{
                border-top: 1px solid #70C262;
                border-bottom: 1px solid #70C262;
                background-color: #C9E4C5;
                z-index: 2;
                .treenode-name{
                    .treenode-leaf{
                        .treenode-leaf-show{
                            background-color: #70C262;
                        }
                    }
                    .treenode-switcher.treenode-switcher-open::after{
                        border-left: 2px solid #222;
                        border-bottom: 2px solid #222;
                    }
                    .treenode-switcher.treenode-switcher-close::after{
                        border-right: 2px solid #222;
                        border-bottom: 2px solid #222;
                    }
                }
                &.treenode-content-checked{
                    background-color: #C9E4C5;
                }
            }
        } 
    }
    .treenode-content{
        margin-top: -1px;
        border-top: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;
        position: relative;
        &.treenode-canhover:hover{
            z-index: 2;
            border-top: 1px solid #70C262;
            border-bottom: 1px solid #70C262;
            .treenode-name{
                .treenode-leaf{
                    .treenode-leaf-show{
                        background-color: #70C262;
                    }
                }
                .treenode-switcher.treenode-switcher-open::after{
                    border-left: 2px solid #222;
                    border-bottom: 2px solid #222;
                }
                .treenode-switcher.treenode-switcher-close::after{
                    border-right: 2px solid #222;
                    border-bottom: 2px solid #222;
                }
            }
            &{
                background-color: #C9E4C5;
            }
        }
        &.treenode-content-checked{
            z-index: 2;
            border-top: 1px solid #70C262;
            border-bottom: 1px solid #70C262;
            .treenode-name{
                .treenode-leaf{
                    .treenode-leaf-show{
                        background-color: #70C262;
                    }
                }
                .treenode-switcher.treenode-switcher-open::after{
                    border-left: 2px solid #222;
                    border-bottom: 2px solid #222;
                }
                .treenode-switcher.treenode-switcher-close::after{
                    border-right: 2px solid #222;
                    border-bottom: 2px solid #222;
                }
            }
            &{
                background-color: #fff;
            }
        }
        &.treenode-content-chosen{
            .treenode-name-content,.treenode-description-content{
                background-color: #418935;
                color: #fff;  
            }
        }
        .treenode-name{
            width: 70%;
            display: inline-block;
            .treenode-switcher{
                width: 24px;
                height: 24px;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                &.treenode-switcher-open::after{
                    position: absolute;
                    top: 3px;
                    bottom: 0px;
                    left: 10px;
                    margin: auto;
                    border-left: 2px solid #D8D8D8; border-bottom: 2px solid #D8D8D8;  
                    width: 8px; height:8px;  
                    transform: rotate(-45deg);
                    content:' ';
                    cursor: pointer;
                }
                &.treenode-switcher-close::after{
                    position: absolute;
                    top: 5px;
                    bottom: 0px;
                    left: 4px;
                    margin: auto;
                    border-right: 2px solid #D8D8D8; border-bottom: 2px solid #D8D8D8;  
                    width: 8px; height:8px;  
                    transform: rotate(-45deg);
                    content:' ';
                    cursor: pointer;
                }
            }
            .treenode-leaf{
                width: 20px;
                padding-left: 8px; 
                display: inline-block;
                position: relative;
                vertical-align: middle;
                .treenode-leaf-show{
                    width: 10px;
                    height: 4px;
                    margin-top:6px;
                    background-color: #D8D8D8;
                }
            }
            .treenode-checkbox{
                white-space: nowrap;
                cursor: pointer;
                outline: none;
                display: inline-block;
                line-height: 1;
                position: relative;
                margin: 0 4px 0 2px;
                vertical-align: middle;
            }
            .treenode-checkbox-inner{
                position: relative;
                top: 0;
                left: 0;
                display: block;
                width: 14px;
                height: 14px;
                border: 1px solid #d9d9d9;
                border-radius: 2px;
                background-color: #fff;
                -webkit-transition: all .3s;
                transition: all .3s;
            }
            .treenode-checkbox-inner::after{
                -webkit-transform: rotate(45deg) scale(0);
                -ms-transform: rotate(45deg) scale(0);
                transform: rotate(45deg) scale(0);
                position: absolute;
                left: 4px;
                top: 0px;
                display: table;
                width: 5px;
                height: 8px;
                border: 2px solid #fff;
                border-top: 0;
                border-left: 0;
                content: " ";
                -webkit-transition: all .1s cubic-bezier(.71,-.46,.88,.6);
                transition: all .1s cubic-bezier(.71,-.46,.88,.6);
            }
            .treenode-checkbox-checked{
                background-color: #418935;
                border-color: #418935;
            }
            .treenode-checkbox-checked::after{
                -webkit-transform: rotate(45deg) scale(1);
                -ms-transform: rotate(45deg) scale(1);
                transform: rotate(45deg) scale(1);
                position: absolute;
                display: table;
                border: 2px solid #fff;
                border-top: 0;
                border-left: 0;
                content: " ";
                -webkit-transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
                transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
            }
            .treenode-checkbox-indeterminate{
                background-color: #418935;
                border-color: #418935;
            }
            .treenode-checkbox-indeterminate::after{
                content: " ";
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                position: absolute;
                left: 2px;
                top: 6px;
                width: 8px;
                height: 0px;
            }
            .treenode-checkbox-inner:hover{
                border-color: #53AE43;
            }
            .treenode-name-content{
                width: calc(100% - 34px);
                width: -moz-calc(100% - 34px);
                width: -webkit-calc(100% - 34px);
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                padding: 3px 5px;
                border-radius: 2px;
                border-bottom-right-radius: 0px;
                border-top-right-radius: 0px;
                margin: 0;
                cursor: pointer;
                text-decoration: none;
                vertical-align: top;
                color: rgba(0,0,0,.65);
                -webkit-transition: all .3s;
                transition: all .3s;
                position: relative;
                &.treenode-name-content-short{
                    width: calc(100% - 44px);
                    width: -moz-calc(100% - 44px);
                    width: -webkit-calc(100% - 44px);
                }
            }
        }
        .treenode-description{
            width: 30%;
            display: inline-block;
            text-align: right;
            cursor: pointer;
            .treenode-description-content{
                width: calc(100% - 10px);
                width: -moz-calc(100% - 10px);
                width: -webkit-calc(100% - 10px);
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 3px 5px;
                border-radius: 2px;
                border-bottom-left-radius: 0px;
                border-top-left-radius: 0px;
                text-decoration: none;
                vertical-align: top;
                color: rgba(0,0,0,.65);
                -webkit-transition: all .3s;
                transition: all .3s;
                position: relative;
                height: 36px;
                display: inline-flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
    .show-short{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}