.login-background
    background-color: #2c483d
    height: 100%
    .login
        padding-top: 10%;
        width: 30%;
        margin-left: 30%;
        .login-form
            margin-top: 10%;
            background-color: #2f4b4c
            padding: 10% 2%
            min-width: 450px
            box-shadow: 2px 2px 5px #333333, -1px 1px 20px #0f1010
            .register-btn
                text-align: center
            .ant-form-item-label label
                color: #fff
            .ant-form-item-control
                text-align: center            
            .ant-tabs-nav-container
                color: white
                .ant-form-item-label label
                    color: #e2e2e2
        
        